---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"howitworks">[] = (
  await getCollection("howitworks")
).sort(
  (a: CollectionEntry<"howitworks">, b: CollectionEntry<"howitworks">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "How it Works";
const subTitle: string =
  "";

// Testimonial data that will be rendered in the component


const pageTitle: string = `How it works | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/howitworks",
    "url": "https://screwfast.uk/howitworks",
    "name": "Hardware Tools | ScrewFast",
    "description": "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://screwfast.uk",
      "name": "ScrewFast",
      "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      
    </div>
    <!--Displaying howitworks in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->

  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Download Phantom Wallet"
    subTitle="Phantom Wallet is your secure gateway to the world of NFTs and digital assets. Downloading the Phantom Wallet is quick and easy, providing you with a safe place to store and manage your NFTs. Watch the video for more information"
    benefits={[
      "Visit the App Store or Google Play: Search for Phantom Wallet and download the app to your device.",
      "Create a New Wallet: Follow the on-screen instructions to set up your new wallet, including securing your recovery phrase.",
    ]}
    videoUrl="https://www.youtube.com/embed/7V_Phj2Ndb4"
  />
  <FeaturesStatsAlt
  title="Complete Payment"
  subTitle="Once your Phantom Wallet is set up, completing your payment for an NFT is straightforward and secure. Watch the video for more information"
  benefits={[
    "Click on the Buy Now button on the mint page",
    "Get your Wallet Address",
    "Fill out your information on the checkout",
    "Click Pay",
  ]}
  videoUrl="https://www.youtube.com/embed/PNo1dXvz98o"
/>
<FeaturesStatsAlt
title="Present your NFT& Get your reward"
subTitle="After purchasing your NFT, presenting it to receive your reward is a seamless process. Watch the video for more information"
benefits={[
  "Once payment is confirmed, open your Phantom Wallet to view your newly acquired NFT",
  "Present our wallet address QR code to redeem your reward",
]}
videoUrl="https://www.youtube.com/embed/nyvSnM4I4O0"
/>
  <!--Testimonials section-->
</MainLayout>
